AngularJS 
---------

	AngularJS is a client side JavaScript MVC framework to develop 
	a dynamic web application. 
	
	AngularJS is distributed as a JavaScript file, and can be added 
	to a web page with a script tag:
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	
	Preparation:
	
	1. Download AngularJS library from https://angularjs.org/ 
		
		a. Download angular.min.js file and add after body:
			
			<script src= "angular.min.js"></script>
				
			or
		
		b. npm install angular@1.6.5
		
			or
		
		c. just add after body:
		
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	
	2. 
	
	We can also add: 
	
	In the head:
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	After body:
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script> 
	<script 5rc="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script> 

	Ready!!!
	
First AngularJS Application
---------------------------
	
	<!DOCTYPE html>

	<html>
	<head>
		<title>First AngularJS Application</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body ng-app>
	
		<h1>First AngularJS Application</h1>

		Enter Numbers to Multiply: 
		<input type="text" ng-model="Num1" /> x <input type="text" ng-model="Num2" /> 
		= <span>{{Num1 * Num2}}</span> 
		
	</body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script> 
	<script 5rc="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	
	</html>
	
	
	Attributes and braces such as 
	ng-app, ng-model, and {{ }} 
	are built-in attributes in AngularJS and are called directives.

Directives
==========

ng-app
------

	The ng-app directive is a starting point. If AngularJS framework finds ng-app directive 
	anywhere in the HTML document then it bootstraps (initializes) itself and compiles the 
	HTML template.

	
ng-model
--------

	The ng-model directive binds HTML element to a property on the $scope object.
	
	
ng-init 
-------

	ng-init directive initializes an AngularJS Application data. 
	It is used to put values to the variables to be used in the application. 
	In following example, we'll initialize an array of countries. 
	We're using JSON syntax to define array of countries.
	
	<div ng-app = "" ng-init = "countries = [
				{locale:'en-US',name:'United States'}, 
				{locale:'en-GB',name:'United Kingdom'}, 
				{locale:'en-FR',name:'France'}
			]"> 
ng-repeat
---------

	This directive repeats html elements for each item in a collection.

	<div ng-app = "" ng-init = "countries = [
				{locale:'en-US',name:'United States'}, 
				{locale:'en-GB',name:'United Kingdom'}, 
				{locale:'en-FR',name:'France'}
			]"> 
         
         <p>List of Countries with locale:</p>
      
         <ol>
            <li ng-repeat = "country in countries">
               {{ 'Country: ' + country.name + ', Locale: ' + country.locale }}
            </li>
         </ol>
    </div>	
	
	
ng-bind
-------
	ng-bind in same way as expression {{ expression }}
	
	for example:
	
	<span>{{Num1 * Num2}}</span>
	
	<span ng-bind="Num1 * Num2"></span> 
	
	
Expression
==========

	Expressions are used to bind application data to html. 
	Expressions are written inside double braces like {{ expression}}. 
	Expressions behaves in same way as ng-bind directives. 
	AngularJS application expressions are pure javascript expressions 
	and outputs the data where they are used.
	

Using numbers
-------------

	<p>Expense on Books : {{cost * quantity}} Rs</p>
	
	
Using strings
-------------

	<p>Hello {{student.firstname + " " + student.lastname}}!</p>
	
	
Using object
------------

	<p>Roll No: {{student.rollno}}</p>
	
	
Using array
-----------

	<p>Marks(Math): {{marks[3]}}</p>
	
	
	Example:
	
	<html>   
	   <head>
		  <title>AngularJS Expressions</title>
	   </head>
	   
	   <body>
		  <h1>Sample Application</h1>
		  
		  <div ng-app = "" ng-init = "quantity = 1;cost = 30; student = {firstname:'David',lastname:'Bush',rollno:101};marks = [80,90,75,73,60]">
			 <p>Hello {{student.firstname + " " + student.lastname}}!</p>
			 <p>Expense on Books : {{cost * quantity}} Rs</p>
			 <p>Roll No: {{student.rollno}}</p>
			 <p>Marks(Math): {{marks[3]}}</p>
		  </div>
		  
		  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
		  
	   </body>
	</html>
	
	
Controllers
===========

ng-controller
-------------
	
	A controller is defined using ng-controller directive. 
	
	AngularJS application mainly relies on controllers to control the flow of data 
	in the application.
	
	A controller is a JavaScript object containing attributes/properties and functions. 
	Each controller accepts $scope as a parameter which refers to the application/module 
	that controller is to control.
	
	<div ng-app = "" ng-controller = "studentController">...</div>
	
	Here we've declared a controller studentController using ng-controller directive. 
	As a next step we'll define the studentController as follows −
	
	<script>
         var mainApp = angular.module("mainApp", []);
         
         mainApp.controller('studentController', function($scope) {
            $scope.student = {
               firstName: "David",
               lastName: "Bush",
               
               fullName: function() {
                  var studentObject;
                  studentObject = $scope.student;
                  return studentObject.firstName + " " + studentObject.lastName;
               }
            };
         });
      </script>
	
	
	
	
	
	