AngularJS 
---------

	AngularJS is a client side JavaScript MVC framework to develop 
	a dynamic web application. 
	
	AngularJS is distributed as a JavaScript file, and can be added 
	to a web page with a script tag:
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	
	Preparation:
	
	1. Download AngularJS library from https://angularjs.org/ 
		
		a. Download angular.min.js file and add after body:
			
			<script src= "angular.min.js"></script>
				
			or
		
		b. npm install angular@1.6.5
		
			or
		
		c. just add after body:
		
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	
	2. 
	
	We can also add: 
	
	In the head:
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	After body:
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script> 
	<script 5rc="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script> 

	Ready!!!
	
First AngularJS Application
---------------------------
	
	<!DOCTYPE html>

	<html>
	<head>
		<title>First AngularJS Application</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body ng-app>
	
		<h1>First AngularJS Application</h1>

		Enter Numbers to Multiply: 
		<input type="text" ng-model="Num1" /> x <input type="text" ng-model="Num2" /> 
		= <span>{{Num1 * Num2}}</span> 
		
	</body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script> 
	<script 5rc="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	
	</html>
	
	
	Attributes and braces such as 
	ng-app, ng-model, and {{ }} 
	are built-in attributes in AngularJS and are called directives.

Directives
==========

ng-app
------

	The ng-app directive is a starting point. If AngularJS framework finds ng-app directive 
	anywhere in the HTML document then it bootstraps (initializes) itself and compiles the 
	HTML template.

	
ng-model
--------

	The ng-model directive binds HTML element to a property on the $scope object.
	
	
ng-init 
-------

	ng-init directive initializes an AngularJS Application data. 
	It is used to put values to the variables to be used in the application. 
	In following example, we'll initialize an array of countries. 
	We're using JSON syntax to define array of countries.
	
	<div ng-app = "" ng-init = "countries = [
				{locale:'en-US',name:'United States'}, 
				{locale:'en-GB',name:'United Kingdom'}, 
				{locale:'en-FR',name:'France'}
			]"> 
ng-repeat
---------

	This directive repeats html elements for each item in a collection.

	<div ng-app = "" ng-init = "countries = [
				{locale:'en-US',name:'United States'}, 
				{locale:'en-GB',name:'United Kingdom'}, 
				{locale:'en-FR',name:'France'}
			]"> 
         
         <p>List of Countries with locale:</p>
      
         <ol>
            <li ng-repeat = "country in countries">
               {{ 'Country: ' + country.name + ', Locale: ' + country.locale }}
            </li>
         </ol>
    </div>	
	
	
ng-bind
-------
	ng-bind in same way as expression {{ expression }}
	
	for example:
	
	<span>{{Num1 * Num2}}</span>
	
	<span ng-bind="Num1 * Num2"></span> 
	
	
Expression
==========

	Expressions are used to bind application data to html. 
	Expressions are written inside double braces like {{ expression}}. 
	Expressions behaves in same way as ng-bind directives. 
	AngularJS application expressions are pure javascript expressions 
	and outputs the data where they are used.
	

Using numbers
-------------

	<p>Expense on Books : {{cost * quantity}} Rs</p>
	
	
Using strings
-------------

	<p>Hello {{student.firstname + " " + student.lastname}}!</p>
	
	
Using object
------------

	<p>Roll No: {{student.rollno}}</p>
	
	
Using array
-----------

	<p>Marks(Math): {{marks[3]}}</p>
	
	
	Example:
	
	<html>   
	   <head>
		  <title>AngularJS Expressions</title>
	   </head>
	   
	   <body>
		  <h1>Sample Application</h1>
		  
		  <div ng-app = "" ng-init = "quantity = 1;cost = 30; student = {firstname:'David',lastname:'Bush',rollno:101};marks = [80,90,75,73,60]">
			 <p>Hello {{student.firstname + " " + student.lastname}}!</p>
			 <p>Expense on Books : {{cost * quantity}} Rs</p>
			 <p>Roll No: {{student.rollno}}</p>
			 <p>Marks(Math): {{marks[3]}}</p>
		  </div>
		  
		  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
		  
	   </body>
	</html>
	
	
Controllers
===========

ng-controller
-------------
	
	A controller is defined using ng-controller directive. 
	
	AngularJS application mainly relies on controllers to control the flow of data 
	in the application.
	
	A controller is a JavaScript object containing attributes/properties and functions. 
	Each controller accepts $scope as a parameter which refers to the application/module 
	that controller is to control.
	
	<div ng-app = "" ng-controller = "studentController">...</div>
	
	Here we've declared a controller studentController using ng-controller directive. 
	As a next step we'll define the studentController as follows −
	
	<script>
         var mainApp = angular.module("mainApp", []);
         
         mainApp.controller('studentController', function($scope) {
            $scope.student = {
               firstName: "David",
               lastName: "Bush",
               
               fullName: function() {
                  var studentObject;
                  studentObject = $scope.student;
                  return studentObject.firstName + " " + studentObject.lastName;
               }
            };
         });
      </script>
	
	
Filters
=======

	Filters are used to change modify the data and can be clubbed in expression 
	or directives using pipe character. Following is the list of commonly used filters.
	
	1. uppercase	
	
		{{student.fullName() | uppercase}}
	   
	2. lowercase
	
		{{student.fullName() | lowercase}}
		
	3. currency
	
		{{student.fees | currency}}
		
	4. filter (filter the array to a subset of it based on provided criteria.)
	
		<li ng-repeat = "subject in student.subjects | filter: subjectName">
		
	5. orderby
	
		<li ng-repeat = "subject in student.subjects | orderBy:'marks'">
	
	Example:
	
	<html>

	<head>
		<title>AngularJS First Application</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	</head>

	<body>

		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">

				<h2>AngularJS Sample Application</h2>
				<div ng-app="mainApp" ng-controller="studentController">
					<table border="0">
						<tr>
							<td>Enter first name:</td>
							<td><input type="text" ng-model="student.firstName"></td>
						</tr>

						<tr>
							<td>Enter last name: </td>
							<td><input type="text" ng-model="student.lastName"></td>
						</tr>

						<tr>
							<td>Enter fees: </td>
							<td><input type="text" ng-model="student.fees"></td>
						</tr>

						<tr>
							<td>Enter subject: </td>
							<td><input type="text" ng-model="subjectName"></td>
						</tr>
					</table>
					<br/>

					<table border="0">
						<tr>
							<td>Name in Upper Case: </td>
							<td>{{student.fullName() | uppercase}}</td>
						</tr>

						<tr>
							<td>Name in Lower Case: </td>
							<td>{{student.fullName() | lowercase}}</td>
						</tr>

						<tr>
							<td>fees: </td>
							<td>{{student.fees | currency}}
							</td>
						</tr>

						<tr>
							<td>Subject:</td>

							<td>
								<ul>
									<li ng-repeat="subject in student.subjects | filter: subjectName |orderBy:'-num'">
										{{ subject.name + ', Marks:' + subject.marks + ', Id: ' + subject.id }}
									</li>
								</ul>
							</td>
						</tr>
					</table>

				</div>
			</div>

			<div class="col-xs-2"><button onclick="myFunction()">Try it</button></div>
		</div>

		<script>
			var mainApp = angular.module("mainApp", []);

			mainApp.controller('studentController', function ($scope) {
				$scope.student = {
					firstName: "David",
					lastName: "Bush",
					fees: 500,

					subjects: [
						{ name: 'Physics', marks: 70, id: 5 },
						{ name: 'Chemistry', marks: 80, id: 3 },
						{ name: 'Math', marks: 65, id: 2 },
						{ name: 'Math', marks: 70, id: 4 },
						{ name: 'Math', marks: 40, id: 1 }
					],

					fullName: function () {
						var studentObject;
						studentObject = $scope.student;
						return studentObject.firstName + " " + studentObject.lastName;
					}
				};
			});
		</script>

	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
	<script 5rc="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

	</html>
	

HTML DOM and directives
=======================

	Following directives can be used to bind application data to attributes of HTML DOM Elements.
	
	1. ng-disabled 
	
		<input type = "checkbox" ng-model = "enableDisableButton">Disable Button
		<button ng-disabled = "enableDisableButton">Click Me!</button>
		
	2. ng-show
	
		<input type = "checkbox" ng-model = "showHide1">Show Button
		<button ng-show = "showHide1">Click Me!</button>
		
	3. ng-hide
	
		<input type = "checkbox" ng-model = "showHide2">Hide Button
		<button ng-hide = "showHide2">Click Me!</button>
		
	4. ng-click
	
		<p>Total click: {{ clickCounter }}</p>
		<button ng-click = "clickCounter = clickCounter + 1">Click Me!</button>
		
		Example:
		
		<html>
	   
		   <head>
			  <title>AngularJS HTML DOM</title>
		   </head>
		   
		   <body>
			  <h2>AngularJS Sample Application</h2>
			  <div ng-app = "">
				 
				 <table border = "0">
					<tr>
					   <td><input type = "checkbox" ng-model = "enableDisableButton">Disable Button</td>
					   <td><button ng-disabled = "enableDisableButton">Click Me!</button></td>
					</tr>
					
					<tr>
					   <td><input type = "checkbox" ng-model = "showHide1">Show Button</td>
					   <td><button ng-show = "showHide1">Click Me!</button></td>
					</tr>
					
					<tr>
					   <td><input type = "checkbox" ng-model = "showHide2">Hide Button</td>
					   <td><button ng-hide = "showHide2">Click Me!</button></td>
					</tr>
					
					<tr>
					   <td><p>Total click: {{ clickCounter }}</p></td>
					   <td><button ng-click = "clickCounter = clickCounter + 1">Click Me!</button></td>
					</tr>
				 </table>
				 
			  </div>
			  
			  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
			  
		   </body>
		</html>
		

Modules
=======

	AngularJS supports modular approach. Modules are used to separate logics say services, 
	controllers, application etc. and keep the code clean.
	
	We define modules in separate js files and name them as per the module.js file. 
	In this example we're going to create two modules.

		1. Application Module − used to initialize an application with controller(s).

		2. Controller Module − used to define the controller.
		
	Application Module
	------------------

		mainApp.js
		
			var mainApp = angular.module("mainApp", []);
			
	Controller Module
	-----------------

		studentController.js
		
			mainApp.controller("studentController", function($scope) {
			   $scope.student = {
				  firstName: "David",
				  lastName: "Bush",
				  fees:500,
				  
				  subjects:[
					 {name:'Physics',marks:70},
					 {name:'Chemistry',marks:80},
					 {name:'Math',marks:65},
					 {name:'English',marks:75},
					 {name:'Hindi',marks:67}
				  ],
				  
				  fullName: function() {
					 var studentObject;
					 studentObject = $scope.student;
					 return studentObject.firstName + " " + studentObject.lastName;
				  }
			   };
			});
			
			
	Use Modules
	-----------
	
	<div ng-app = "mainApp" ng-controller = "studentController">
	   ...
	   <script src = "mainApp.js"></script>
	   <script src = "studentController.js"></script>
	
	</div>
	
	
Forms
=====

	Following can be used to track error.

		$dirty − states that value has been changed.

		$invalid − states that value entered is invalid.

		$error − states the exact error.
				
			
	required - Sets required validation error key if the value is not entered.
		
	ng-minlength="3" - Sets minlength validation error key if the value is shorter than minlength.
	
	ng-minlength="10" - Sets maxlength validation error key if the value is longer than maxlength.
	
		Note that novalidate is used to disable browser's native form validation.
	
	Example:
	
	<html>
	   <head>
		  <title>Angular JS Forms</title>
		  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
		  
		  <style>
			 table, th , td {
				border: 1px solid grey;
				border-collapse: collapse;
				padding: 5px;
			 }
			 
			 table tr:nth-child(odd) {
				background-color: #f2f2f2;
			 }
			 
			 table tr:nth-child(even) {
				background-color: #ffffff;
			 }
		  </style>
		  
	   </head>
	   <body>
		  
		  <h2>AngularJS Sample Application</h2>
		  <div ng-app = "mainApp" ng-controller = "studentController">
			 
			 <form name = "studentForm" novalidate>
				<table border = "0">
				   <tr>
					  <td>Enter first name:</td>
					  <td>
					  
					  <input name = "firstname" type = "text" ng-model = "firstName" ng-minlength="2" ng-maxlength="5" required >
						 <div>
							 <span style = "color:red" ng-show = "studentForm.firstname.$dirty && studentForm.firstname.$invalid">
								<span ng-show = "studentForm.firstname.$error.required">First Name is required.</span>
								<span ng-show = "studentForm.firstname.$error.minlength">Minimum 2 characters.</span>
								<span ng-show = "studentForm.firstname.$error.maxlength">Maximum 5 characters.</span>
							 </span>
						 </div>
					  </td>
				   </tr>
				   
				   <tr>
					  <td>Enter last name: </td>
					  <td><input name = "lastname"  type = "text" ng-model = "lastName" required>
						 <span style = "color:red" ng-show = "studentForm.lastname.$dirty && studentForm.lastname.$invalid">
							<span ng-show = "studentForm.lastname.$error.required">Last Name is required.</span>
						 </span>
					  </td>
				   </tr>
				   
				   <tr>
					  <td>Email: </td><td><input name = "email" type = "email" ng-model = "email" length = "100" required>
						 <span style = "color:red" ng-show = "studentForm.email.$dirty && studentForm.email.$invalid">
							<span ng-show = "studentForm.email.$error.required">Email is required.</span>
							<span ng-show = "studentForm.email.$error.email">Invalid email address.</span>
						 </span>
					  </td>
				   </tr>
				   
				   <tr>
					  <td>
						 <button ng-click = "reset()">Reset</button>
					  </td>
					  <td>
						 <button ng-disabled = "studentForm.firstname.$dirty &&
							studentForm.firstname.$invalid || studentForm.lastname.$dirty &&
							studentForm.lastname.$invalid || studentForm.email.$dirty &&
							studentForm.email.$invalid" ng-click="submit()">Submit</button>
					  </td>
				   </tr>
						
				</table>
			 </form>
		  </div>
		  
		  <script>
			 var mainApp = angular.module("mainApp", []);
			 
			 mainApp.controller('studentController', function($scope) {
				$scope.reset = function(){
				   $scope.firstName = "David";
				   $scope.lastName = "Bush";
				   $scope.email = "d.bush@bush.com";
				}
				
				$scope.reset();
			 });
		  </script>
		  
	   </body>
	</html>
	
	
	
	
	
	