AngularJS 
---------

	AngularJS is a client side JavaScript MVC framework to develop 
	a dynamic web application. 
	
	AngularJS is distributed as a JavaScript file, and can be added 
	to a web page with a script tag:
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
	Preparation:
	
	1. Install AngularJS library from NuGet package manager:
	"AngularJS Core"
	
	2. Include angular.js file
	
	Now, we can start writing AngularJS web application.
	
	<!DOCTYPE html>

	<html>
	<head>
		<title>First AngularJS Application</title>
		<script src= "~/Scripts/angular.js"></script>
	</head>
	<body ng-app >
		<h1>First AngularJS Application</h1>

		Enter Numbers to Multiply: 
		<input type="text" ng-model="Num1" /> x <input type="text" ng-model="Num2" /> 
		= <span>{{Num1 * Num2}}</span>  
	</body>
	</html>
	
	
	Attributes and braces such as 
	ng-app, ng-model, and {{ }} 
	are built-in attributes in AngularJS and are called directives.
	
ng-app
------

	The ng-app directive is a starting point. If AngularJS framework finds ng-app directive 
	anywhere in the HTML document then it bootstraps (initializes) itself and compiles the 
	HTML template.

	
ng-model
--------

	The ng-model directive binds HTML element to a property on the $scope object. 
	
Expression
----------

	An expression is like JavaScript code which is usually wrapped inside double curly braces 
	such as {{ expression }}. AngularJS framework evaluates the expression and produces a result. 
	In the above example, {{ Num1 * Num2}} will simply display the product of Num1 and Num2.
	
	
	